.df {
    width: 100%;
    height: 100%;
    fullscreen: true;
}

.button {
    position: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #fff;
    border: none;
    font-size: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}